<footer class="fixed-bottom">
  <div class="form__social_icons">
    <i class="fa-brands fa-facebook" style="color: rgb(116, 192, 252)"></i>
    <i class="fa-brands fa-instagram" style="color: rgb(116, 192, 252)"></i>
    <i class="fa-brands fa-instagram" style="color: rgb(116, 192, 252)"></i>
  </div>
  <div>WanderLust</div>
  <div class="form_terms_links">
    <a href="">terms</a>
    <a href="">insurances</a>
  </div>
</footer>
