<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-6 offset-3">
    <form action="">
      <div>
        <label for="Username" class="form-label">Username:</label>
        <input
          type="text"
          name="Username"
          class="form-control"
          id="username"
          required
        />
      </div>
      <div>
        <label for="password" class="form-label">password:</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          required
        />
      </div>
      <button class="btn btn-success">Login</button>
    </form>
  </div>
</div>
