<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-6 offset-3 mt-3">
    <form method="post" action="/signup">
      <h3>Sign-up to Wanderlustz</h3>
      <div>
        <label for="Username" class="form-label">Username:</label>
        <input
          type="text"
          name="username"
          class="form-control"
          id="username"
          required
        />
      </div>
      <div>
        <label for="Email" class="form-label">Email:</label>
        <input
          type="text"
          name="Email"
          class="form-control"
          id="Email"
          required
        />
      </div>
      <div>
        <label for="password" class="form-label">password:</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          required
        />
      </div>
      <button class="btn btn-success mt-2">Sign up</button>
    </form>
  </div>
</div>
